{% extends "base.html" %}

{% block content %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-indigo-500" style="height: 3rem; margin: 1.5rem auto;">
    <path d="M18 1.5c2.9 0 5.25 2.35 5.25 5.25v3.75a.75.75 0 0 1-1.5 0V6.75a3.75 3.75 0 1 0-7.5 0v3a3 3 0 0 1 3 3v6.75a3 3 0 0 1-3 3H3.75a3 3 0 0 1-3-3v-6.75a3 3 0 0 1 3-3h9v-3c0-2.9 2.35-5.25 5.25-5.25Z" />
  </svg>
  <div class="text-xl text-center">
    ワンタイムパスワード: {{ code }}<br>
    有効期限: 残り<span id="timerDisplay" class="font-mono">60</span>秒
  </div>
    <div class="rounded-lg bg-cyan-100 text-cyan-900 my-4 p-4 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" style="height: 1.5rem; margin-right: 0.5rem;">
        <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
      </svg>
      ワンタイムパスワードをbotにDMで送ってください
    </div>
  <script>
    history.replaceState(null, null, '/24auth/')
    const timerDisplay = document.getElementById('timerDisplay')
    let sec = 60
    setInterval(() => {
      if (sec > 0) {
        sec--
        timerDisplay.innerText = sec
      } else {
        location.href = '/24auth/'
      }
    }, 1000)
  </script>
{% endblock %}
