<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/24auth/static/style.css" />
    <title>24auth</title>
  </head>
  <body class="h-full">
    <div class="bg-indigo-200 text-gray-900 p-4 text-2xl font-bold font-mono text-center">
      24auth
    </div>
    <div class="w-full max-w-[1024px] mx-auto p-6">
      {% block content %}
      {% endblock %}
    </div>
    <div class="sticky top-[100vh] text-sm text-center p-4">&copy; 2024 Laddge</div>
  </body>
</html>
